body {
    font-family: Arial, sans-serif;
}

.carousel-img {
    height: 550px;
    object-fit: cover;
    filter: brightness(50%);
}

.carousel-caption {
    bottom: 30%;
}

.carousel-caption h1 {
    font-size: 3rem;
    font-weight: bold;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

#testimonials {
    min-height: 250px;
}

.carousel-item {
    padding: 40px;
}

footer {
    margin-top: 0;
}

@media (max-width: 768px) {

    .carousel-img {
        height: 300px;
    }

    .carousel-caption h1 {
        font-size: 1.5rem;
    }

    .carousel-caption p {
        font-size: 0.9rem;
    }
}